.shop-cart {
    display: grid;
    grid-template-columns: 3fr 1fr;
    border-bottom: 2px solid gray;
}

.cart-container {
    border-left: 2px solid rgb(226, 199, 199);
}
.search {
    background-color: rgb(32, 31, 31);

    padding: 10px;
}
.search-field {
    width: 50%;
    height: 25px;
}
