.form-container {
    width: 600px;
    margin: 0 auto;
    border: 1px solid gray;
    box-sizing: border-box;
    border-radius: 8px;
    margin-top: 20px;
    background-color: #d6e4ec;
    display: flex;
    justify-content: center;
}

.form-title {
    font-size: 45px;
    color: #2a414f;
    font-weight: 400;
}
.input-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.input-group label {
    display: flex;
    float: left;
}
.input-group input {
    width: 415px;
    height: 45px;
    border: 1px solid #95a0a7;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 24px;
}
.submit-btn {
    width: 410px;
    font-size: 20px;
    height: 55px;
    border: none;
    background-color: goldenrod;
    margin-bottom: 20px;
}
.create-account {
    color: rgb(155, 124, 45);
    text-decoration: none;
}
.error-password {
    color: red;
}
.submit-btn:hover {
    background-color: rgb(226, 195, 18);
}
.errorMessage {
    color: red;
}
